header {
    background: #1c2b35;
}
nav {
    width: 85%;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .navigation {
    display: flex;
    gap: 20px;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.005em;
}

@media only screen and (max-width: 480px) {
    nav a {
        display: block;
    }
}
